@charset "UTF-8";

/* cor 
   cor #FF7C01

*/

* {
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
} 

html,body{
    background-color: #FF7C01 ;
    color: rgb(0, 0, 0);
    height: 100vh; /* altura */
    width: 100vw; /* larrgura */
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{

    position: absolute;
    top: 50%;      /* deixando e centralizando a tela no centro */
    left: 50%;
    transform: translate(-50%,-50%);


    background-color: white;
    width: 250px;    /* tamanho da altura mobile */
    height: 500px;
    border-radius: 20px;
    overflow: hidden;  /* bordas so em cima */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.582);

    transition: width 1s, heigth 1s;
}

section#login > div#imagem{
    display: block;
    background:#FF7C01 url( 'imagens/pexels-dinnow-86001860-9444476\ \(1\).jpg ') ;
    height: 200px;
    background-size: cover;
    background-position: center ;
   
    
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario >h1{
    text-align: center;
    margin-bottom: 10px ;

}
div#formulario >p{
    font-size: 0.8em;
}

div.campo >input{
    background-color: #ff7c0125;
    font-size: 1em;
    border: 0px;
    border-radius: 15px;
}

form > div.campo{
    background-color: #FF7C01;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

form label{
    display: none;
}

